
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,700&display=swap');
/*font-family: 'Lora';*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
/*font-family: 'Montserrat';*/
*{
    margin: 0;
    padding: 0;
    
    
}

body{
    overflow-x: hidden;

    background-color:#131111;

    color: whitesmoke;
    font-family:'Lora', Times, serif;

    /*max-width:1200px;*/

    margin: 0 auto;
    width: 100vw;
    padding: 15px 0 15px 0 ;
}

header{
    flex-direction: row;
    
    background-color: whitesmoke;
    color:#131111;

    border-radius: 10px;

    margin-top: -25px;
   
    z-index: 1;
    

}

.nav{

    display:flex;
    align-items: center;
    justify-content: space-around;
   
    
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background:#131111;
    margin: 8px;
}





#title{
    flex-direction: column;
    line-height: 10px;  
    margin-top: 2px;
 
}

#title-kairos{
    font-weight: bold;
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;
    font-size: 2em;

    /*Margens Padroes h1*/
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}
aside{
    margin: 0 20px 0 50px;
    
}

h2{
    font-size: 55px;
    line-height: 10px; 
    font-family: 'Montserrat', Times, serif;
    
    /*Margens Padroes h2*/
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

span{
    color:brown;
}

p{
    line-height: 20px;
    max-width: 500px;
   
}

a{
    box-shadow: 0px 0px 0px 0px #131111;
    border-radius: 20px;

    color: #131111;
    
    padding: 10px;
    
}

a:hover{
    transition: 1s all;

    box-shadow: 0px 0px 1px 2px #131111;
}

#subscribe-btn{
    box-shadow: 0px 0px 1px 2px #131111;
}

#subscribe-btn:hover{
    transition: 1s all;
    background-color: #131111;
    color: #fff;
}


.kairos-cutting-hair {
    width: 500px;
    border: 1.5px solid  whitesmoke;
    border-radius: 25%;

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 25px;
    border:none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;

    background-color: brown;
    color: #fff;

    font-weight: bold;
    
    align-self: center;
}

form [type="submit"]:hover{
    transition: 1s all;

    background-color: #fff;
    color: #131111;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction:column;
    width: 70%;
}


footer{
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-right: 5%;
}

#karios-money-icon{
    color: var(--light-green);
    font-weight: bold;
}

.karios-icon-contact{
    margin-left: 10px;
}


.karios-icon-contact:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .2500s ease-in-out; 
}

.karios-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-blue);
}

.karios-contact-container{
    display: flex;
    align-items:center;
}

.karios-contact-name{
    margin: 5px 10px 0 5px;
    font-size: 1rem;
    color: var(--dark-blue);
}






